server:
  port: 8012
  undertow:
      accesslog:
        enabled: true
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/zwh?characterEncoding=UTF-8&zeroDateTimeBehavior=convertToNull
    username: root
    password: 123456
    driver-class-name: com.mysql.jdbc.Driver
  http:
    multipart:
      maxFileSize: 500Mb
      maxRequestSize: 500Mb
logging:
  level:
    root: INFO
    com:
      zwh:
        manage:
          mapper: debug
  file: logs/info.log
mybatis:
  configuration:
    mapUnderscoreToCamelCase: true
  type-aliases-package: com.zwh.manage.model
redis:
  host: 127.0.0.1
  port: 6379
  password:
  maxTotal: 2000
  maxIdle: 20